.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  min-height: 55px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $color-white;

  border: 3px solid $color-white;
  cursor: pointer;

  @media (min-width: $viewpoint--tablet) {
    width: 300px;
  }

  &--main {
    border-radius: 29px;
  }

  &--submit {
    min-height: 63px;

    text-transform: uppercase;

    background: $color-green;
    border-color: $color-green;
    border-radius: 1px;

    &:hover {
      background: $color-dark-green;
      border-color: $color-dark-green;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }

    &:disabled {
      background: $color-grey;
      border-color: $color-grey;
    }
  }

  &--send {
    color: $color-magenta;

    border-color: $color-magenta;

    &:hover {
      color: $color-white;

      background: $color-magenta;
      border-color: $color-magenta;
    }

    &:active {
      color: rgba($color-white, 0.3);
    }
  }

  &--reset {
    color: $color-navi;

    border: 3px solid $color-navi;
    opacity: 0.1;

    &:hover {
      border: 3px solid $color-navi;
      opacity: 0.3;
    }

    &:active {
      color: $color-white;

      background-color: $color-navi;
      border: 3px solid $color-navi;
      opacity: 0.3;
    }
  }

  &--small-size {
    @media (min-width: $viewpoint--tablet) {
      width: 260px;
    }

    @media (min-width: $viewpoint--desktop) {
      width: 183px;
    }
  }

  &--xl-desktop {
    @media (min-width: $viewpoint--desktop) {
      width: 460px;
    }
  }

  &--download {
    @media (min-width: $viewpoint--desktop) {
      font-size: 21px;
    }

    &:hover {
      color: $color-magenta;

      background: $color-white;
      border-color: $color-white;
    }

    &:active {
      color: rgba($color-magenta, 0.3);
    }
  }
}
