.btn {
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $color-white;

  border: 3px solid $color-white;

  @media (min-width: $viewpoint--tablet) {
    width: 300px;
  }

  &--main {
    border-radius: 29px;
  }

  &--submit {
    text-transform: uppercase;

    background: $color-green;
    border-color: $color-green;
    border-radius: 1px;
  }

  &--red {
    color: $color-magenta;

    border-color: $color-magenta;
  }

  &--small-size {
    @media (min-width: $viewpoint--tablet) {
      width: 260px;
    }

    @media (min-width: $viewpoint--desktop) {
      width: 183px;
    }
  }

  &--xl-desktop {
    @media (min-width: $viewpoint--desktop) {
      width: 460px;
    }
  }

  &--download {
    @media (min-width: $viewpoint--desktop) {
      font-size: 21px;
    }
  }
}
