.btn {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  display: block;

  box-sizing: border-box;
  width: 280px;
  height: 55px;
  padding-top: 15px;

  text-align: center;

  color: $color-white;
  border: 3px solid $color-white;
}

.btn--main {
  border-radius: 29px;
}
