.feature {
  width: 100%;
  background-color: $bg-dark-grey;
}

.feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature__item {
  text-align: center;
}

.feature__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
