.information {
  width: 320px;
}


.information__header {
  background-color: $bg-grey;
  height: 215px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color-navi;
  text-align: center;
}
