.intro {
  width: 100%;
  background-color: $bg-dark-blue;

  @media (min-width: $viewpoint--tablet) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $viewpoint--desktop) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

.intro__banner {
  width: 100%;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 67px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }


  @media (min-width: $viewpoint--tablet) {
    background-image: none;
    padding-top: 110px;
    width: 300px;
  }

  @media (min-width: $viewpoint--desktop) {
    background-image: none;
    width: 300px;
  }
}

.intro__container {
  min-width: 320px;
  max-width: 980px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  @media (min-width: $viewpoint--tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.intro__title {
  width: 280px;

  margin: 0;
  padding-top: 24px;
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: $color-white;

  @media (min-width: $viewpoint--tablet) {
    width: 200px;
    padding-top: 94px;
    font-size: 40px;
    line-height: 120%;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 300px;
    font-size: 50px;
    line-height: 68px;
    padding-top: 100px;
    padding-bottom: 35px;
  }
}

.intro__mobile-hand {
  margin-right: 62px;
  width: 258px;
  height: auto;

  @media (min-width: $viewpoint--tablet) {
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 660px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin-right: 130px;
    width: 1050px;
    transform: translateX(-43%);
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;

  @media (min-width: $viewpoint--tablet) {
    width: 300px;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 300px;
  }
}

.intro__download {
  margin-top: 28px;

  @media (min-width: $viewpoint--tablet) {
    margin-top: 0;
  }
}

.intro__list {
  list-style: none;
  display: flex;
  justify-content: space-around;

  margin-top: 32px;
  margin-bottom: 21px;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;

  @media (min-width: $viewpoint--tablet) {
    margin-top: 46px;
    margin-bottom: 32px;
    width: 283px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin-top: 72px;
    margin-bottom: 48px;
  }
}

.intro__item {
  height: 56px;
  width: 44px;
  display: flex;
  justify-content: center;
}

.intro__text {
  width: 280px;
  font-weight: 300;
  line-height: 24px;
  color: $color-white;
  text-align: center;
  margin-bottom: 31px;

  @media (min-width: $viewpoint--tablet) {
    margin-bottom: 114px;
    width: 300px;
    font-size: 18px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin-bottom: 125px;
    width: 300px;
  }
}
