.intro {
  width: 100%;
}

.intro__banner {
  height: 462px;
  background-color: $bg-navy;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.intro__title {
  font-size: 24px;
  line-height: 120%;
  color: $color-white;
  margin: auto;
}

.intro__content {
  background-color: $bg-dark-blue;
  height: 271px;
}

.intro__text {
  font-weight: 300;
  line-height: 24px;
  color: $color-white;
}
