.logo {
  fill: $color-white;

  &:hover {
    fill: $color-magenta;
  }

  &:active {
    fill: rgba($color-white, 0.3);
  }

  &--mobile {
    width: 74px;
    height: 23px;

    @media (min-width: $viewpoint--tablet) {
      display: none;
    }
  }

  &--tablet {
    display: none;
    width: 145px;
    height: 40px;

    @media (min-width: $viewpoint--tablet) {
      display: block;
    }

    @media (min-width: $viewpoint--desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;
    width: 147px;
    height: 40px;

    @media (min-width: $viewpoint--desktop) {
      display: block;
    }
  }
}
