.main-nav {
  width: 100%;
  display: none;

  @media (min-width: $viewpoint--desktop) {
    width: auto;
    display: block;
  }

  &--open {
    display: block;
  }

  &--no-js {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__item {
  text-align: center;
  width: 100%;


  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: $color-white;
  margin-top: 1px;

  background-color: $bg-navy;
  box-shadow: 0 1px 0 $color-black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $viewpoint--desktop) {
    width: auto;
    padding-right: 40px;
    padding-left: 40px;


    &:last-child {
      padding-right: 20px;
    }

    background-color: transparent;
    box-shadow: none;
    font-weight: normal;
    line-height: 18px;
  }
}

.main-nav__link {
  display: block;

  padding-bottom: 15px;
  padding-top: 16px;
  text-transform: uppercase;

  @media (min-width: $viewpoint--desktop) {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid transparent;


    &:hover {
      border-bottom: 2px solid $color-white;
    }

    &--active {
      border-bottom: 2px solid $color-white;
    }
  }
}
