.page-footer {
  min-width: 320px;
  min-height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;

  @media (min-width: $viewpoint--tablet) {
    flex-direction: row;
    min-height: 127px;
    justify-content: space-between;
  }

  @media (min-width: $viewpoint--desktop) {
    min-height: 197px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.page-footer__list {
  list-style: none;
}

.page-footer__creator {
  line-height: 18px;
  display: flex;
  gap: 15px;
  align-items: center;

  @media (min-width: $viewpoint--desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}
