.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
  min-height: 282px;
  padding-top: 23px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;

  @media (min-width: $viewpoint--tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $viewpoint--desktop) {
    min-height: 197px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
}

.page-footer__logo {
  fill: $color-navi;

  &:hover {
    fill: $color-magenta;
  }

  &:active {
    opacity: 0.3;

    fill: $color-navi;
  }

  &--modile {
    @media (min-width: $viewpoint--desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $viewpoint--desktop) {
      display: block;
    }
  }
}

.page-footer__list {
  list-style: none;
}

.page-footer__creator {
  line-height: 18px;

  @media (min-width: $viewpoint--tablet) {
    padding-top: 7px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 13px;

    font-size: 18px;
    line-height: 18px;
  }
}

.page-footer__academy {
  display: flex;
  align-items: center;

  color: $color-navi;

  gap: 13px;

  svg {
    fill: $color-magenta;
  }

  &:hover {
    svg {
      fill: $color-navi;
    }
  }

  &:active {
    svg {
      fill: rgba($color-navi, 0.3);
    }
  }
}
