.page-footer {
  min-width: 320px;
  min-height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;

  @media (min-width: $viewpoint--tablet) {
    flex-direction: row;
    min-height: 127px;
    justify-content: space-between;
  }

  @media (min-width: $viewpoint--desktop) {
    min-height: 197px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.page-footer__logo {
  fill: $color-navi;

  &:hover {
    fill: $color-magenta;
  }

  &:active {
    opacity: 0.3;
  }

  &--modile {
    @media (min-width: $viewpoint--desktop) {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @media (min-width: $viewpoint--desktop) {
      display: block;
    }
  }
}

.page-footer__list {
  list-style: none;
}

.page-footer__creator {
  line-height: 18px;

  @media (min-width: $viewpoint--desktop) {
    font-size: 18px;
    line-height: 18px;
  }
}

.page-footer__academy {
  display: flex;
  gap: 15px;
  align-items: center;
  color: $color-navi;

  svg {
    fill: $color-magenta;
  }

  &:hover {
    svg {
      fill: $color-navi;
    }
  }

  &:active {
    svg {
      fill: rgba($color-navi, 0.3);
    }
  }
}
