.photo {
  overflow: hidden;
}

.photo__intro {
  width: 90%;
  max-width: 400px;
  min-height: 184px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 50px;

  line-height: 30px;
  text-align: center;
  color: $color-navi;

  @media (min-width: $viewpoint--tablet) {
    max-width: 600px;
    padding-top: 91px;
    padding-bottom: 77px;

    font-size: 18px;
  }

  @media (min-width: $viewpoint--desktop) {
    max-width: 600px;
    padding-top: 91px;
    padding-bottom: 56px;
  }
}

.photo__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  @media (min-width: $viewpoint--tablet) {
    padding-top: 30px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 15px;
  }
}

.photo__item {
  width: 100%;
  margin-bottom: 20px;

  img {
    min-width: 100%;
  }

  @media (min-width: $viewpoint--tablet) {
    width: calc(50% - 10px);
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: $viewpoint--desktop) {
    width: calc(33.3% - 13.33px);
    margin-top: 34px;
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &--full-page {
    position: relative;

    width: 100%;

    @media (min-width: $viewpoint--desktop) {
      margin-bottom: 0;
    }

    .photo__card {
      max-width: 940px;
      min-height: 0;
      margin: 0 20px;

      @media (min-width: $viewpoint--desktop) {
        margin: 0 auto;
      }
    }
  }
}

.photo__daily {
  position: absolute;
  top: 0;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  min-height: 36px;

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: white;

  background-color: $color-magenta;

  @media (min-width: $viewpoint--tablet) {
    top: 57px;
  }

  @media (min-width: $viewpoint--desktop) {
    top: 53px;
    right: 130px;
  }
}

.photo__user-panorama {
  @media (min-width: $viewpoint--tablet) {
    min-height: 509px;

    object-fit: cover;
  }
}

.photo__card {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 18px 10px 19px 17px;

  color: $color-navi;

  background-color: $bg-light-grey;

  @media (min-width: $viewpoint--tablet) {
    min-height: 155px;
    padding: 30px;
    padding-top: 23px;
    padding-bottom: 25px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding: 23px 30px 25px 27px;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.photo__user-name {
  margin: 0;
  padding: 0;

  font-weight: bold;
}

.photo__last-visit {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo__like-count {
  font-size: 12px;
  line-height: 24px;
  color: $color-magenta;
  text-transform: uppercase;

  @media (min-width: $viewpoint--tablet) {
    line-height: 18px;
  }

  @media (min-width: $viewpoint--desktop) {
    line-height: 20px;
  }
}

.photo__like {
  svg {
    fill: $color-magenta;
  }
}

.photo__like-wrapper {
  display: flex;
  align-items: center;
  height: auto;
  padding-top: 10px;

  gap: 18px;

  @media (min-width: $viewpoint--tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: auto;
  }


  &--daily {
    @media (min-width: $viewpoint--tablet) {
      position: absolute;
      right: 30px;

      width: 118px;
      padding-top: 2px;

      gap: 0;
    }
  }
}
