.pricing {
  width: 100%;
  background-color: $bg-light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  padding-top: 103px;
  padding-bottom: 30px;

  @media (min-width: $viewpoint--tablet) {
    padding-top: 97px;
    padding-bottom: 34px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 157px;
    padding-bottom: 60px;
  }
}

.pricing__list {
  overflow: hidden;
  position: relative;

  margin: 0 20px;
  padding: 0;
  display: flex;
  width: 840px;
  list-style: none;
  padding-bottom: 34px;

  left: 50%;
  transform: translateX(calc(-50% - 20px));

  @media (min-width: $viewpoint--tablet) {
    width: 620px;
    margin: 0 auto;

    left: 0;
    transform: none;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 940px;
  }
}

.pricing__item {
  width: 280px;
  flex-shrink: 0;

  @media (min-width: $viewpoint--tablet) {
    width: 155px;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 235px;
  }
}


.pricing__header {
  position: relative;
  text-align: center;
  height: 95px;
  line-height: 30px;
  color: $color-white;

  border: 2px solid $bg-navy;

  background-color: $bg-navy;

  @media (min-width: $viewpoint--tablet) {
    height: 79px;
  }

  @media (min-width: $viewpoint--desktop) {
    height: 95px;
  }

  &--inner {
    border-right: 1px solid $bg-light-grey;
    border-left: 1px solid $bg-light-grey;
  }

  &--hit::before {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 74px;
    height: 73px;

    background-image: url("../img/bg-hit.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;

    content: "";

    @media (min-width: $viewpoint--tablet) {
      background-image: url("../img/bg-hit-tablet.svg");
      width: 60px;
      height: 60px;
      left: 0;
    }

    @media (min-width: $viewpoint--desktop) {
      width: 75px;
      height: 75px;
      background-image: url("../img/bg-hit.svg");
    }
  }

  &--hit::after {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 74px;
    height: 73px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;

    content: "хит";

    transform: rotate(-45deg);

    @media (min-width: $viewpoint--tablet) {
      left: 0;
      top: 0;
    }

    @media (min-width: $viewpoint--desktop) {
      left: 3px;
      top: 4px;
    }
  }
}

.pricing__type {
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-top: 13px;
  margin-bottom: 0;

  @media (min-width: $viewpoint--tablet) {
    margin-top: 15px;
  }

  @media (min-width: $viewpoint--desktop) {
    font-size: 18px;
    margin-top: 17px;
  }
}

.pricing__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $viewpoint--tablet) {
    margin-top: -3px;
  }

  @media (min-width: $viewpoint--desktop) {
    font-size: 24px;
    margin-top: 2px;
  }
}

.pricing__features-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pricing__features-item {
  line-height: 30px;
  height: 59px;

  display: flex;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;

  text-transform: uppercase;

  border: 1px solid $color-grey;
  background-color: $color-white;

  @media (min-width: $viewpoint--tablet) {
    justify-content: center;
    height: 47px;
  }

  @media (min-width: $viewpoint--desktop) {
    height: 62px;
  }
}

.pricing__features-text {
  @media (min-width: $viewpoint--tablet) {
    display: none;
  }
}

.pricing__features-yes {
  width: 31px;
  fill: $color-green-yes;
}

.pricing__features-no {
  fill: $color-red-no;
}


.pricing__legend {
  display: none;

  @media (min-width: $viewpoint--tablet) {
    display: block;
    padding-top: 79px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 95px;
  }
}

.pricing__legend-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pricing__legend-item {
  display: flex;
  align-items: center;
  height: 59px;
  width: 153px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  padding-left: 15px;

  border: 1px solid $color-grey;
  background-color: $color-white;

  @media (min-width: $viewpoint--tablet) {
    height: 47px;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 234px;
    font-size: 18px;
    line-height: 30px;
    height: 62px;
    padding-left: 20px;
  }
}

.pricing__toggles {
  display: flex;
  justify-content: center;
  gap: 13px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;

  padding: 0;
  list-style: none;

  @media (min-width: $viewpoint--tablet) {
    display: none;
  }
}

.pricing__toggle {
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 50px;
  width: 12px;
  height: 12px;
  border: 3px solid transparent;
  background-color: rgba($color-navi, 0.3);
  background-clip: padding-box;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-navi, 0.6);
  }

  &:active {
    background-color: rgba($color-navi, 0.1);
  }

  &--current {
    border: 3px solid $color-navi;
    background-color: transparent;
    cursor: auto;

    &:hover {
      background-color: transparent;
    }
  }
}
