.slider {
  position: relative;

  width: 100%;
  padding-bottom: 20px;
  overflow: hidden;

  @media (min-width: $viewpoint--tablet) {
    padding-bottom: 0;
  }
}

.slider__quotes {
  display: none;

  @media (min-width: $viewpoint--desktop) {
    display: block;
    height: auto;
    margin: 0 auto;
    padding-top: 70px;

    fill: $color-quotes;
  }
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__arrow {
  display: none;

  cursor: pointer;
  opacity: 0.3;

  fill: $color-navi;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $viewpoint--desktop) {
    position: absolute;
    top: 215px;

    display: block;
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.slider__card {
  display: none;
  width: 100%;
  margin-top: 31px;

  &--checked {
    display: flex;
    flex-direction: column;

    @media (min-width: $viewpoint--tablet) {
      flex-direction: column-reverse;
      margin-top: 100px;
    }

    @media (min-width: $viewpoint--desktop) {
      width: 75%;
      margin-top: 50px;
      margin-right: auto;
      margin-bottom: 3px;
      margin-left: auto;
    }
  }
}

.slider__card-title {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $viewpoint--tablet) {
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 20px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin-top: 22px;
    margin-bottom: 0;

    font-size: 24px;
  }
}

.slider__card-sudtitle {
  display: none;
  margin-top: 0;

  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $viewpoint--tablet) {
    display: block;
    margin-bottom: 20px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin-bottom: 30px;

    font-size: 18px;
  }
}

.slider__card-message {
  width: 100%;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 16px;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $color-navi;

  @media (min-width: $viewpoint--tablet) {
    margin-top: 0;

    font-size: 18px;
  }

  @media (min-width: $viewpoint--desktop) {
    font-size: 18px;
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0;

  list-style: none;

  gap: 13px;

  @media (min-width: $viewpoint--desktop) {
    display: none;
  }
}

.slider__toggle {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;

  background-color: rgba($color-navi, 0.3);
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 50px;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-navi, 0.6);
  }

  &:active {
    background-color: rgba($color-navi, 0.1);
  }

  &--current {
    background-color: transparent;
    border: 3px solid $color-navi;
    cursor: auto;

    &:hover {
      background-color: transparent;
    }
  }
}
