.social-list {
  display: flex;
  justify-content: space-between;
  min-width: 178px;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  gap: 9px;

  @media (min-width: $viewpoint--tablet) {
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 0;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 15px;
    padding-right: 0;
    padding-left: 11px;

    gap: 5px;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;

  border: 3px solid rgba($color-navi, 0.1);
  border-radius: 50%;

  svg {
    fill: $color-magenta;
  }

  &:hover {
    border-color: $color-navi;
  }

  &:active {
    border-color: rgba($color-navi, 0.1);

    svg {
      fill: rgba($color-magenta, 0.3);
    }
  }
}
