.upload {
  @media (min-width: $viewpoint--desktop) {
    padding-bottom: 28px;
  }
}

.upload__header {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 43px;
  width: 90%;

  line-height: 30px;
  text-align: center;
  color: $color-navi;

  @media (min-width: $viewpoint--tablet) {
    font-size: 18px;
    padding-top: 45px;
    padding-bottom: 70px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-top: 40px;
    padding-bottom: 67px;
  }
}

.upload__app {
  background-color: $bg-light-grey;
  padding-top: 20px;
  padding-bottom: 34px;


  @media (min-width: $viewpoint--tablet) {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 940px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 57px;
    justify-content: flex-start;
  }
}

.upload__user-photo {
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $viewpoint--tablet) {
    width: 300px;
    height: 400px;
    margin: 0 auto 0 20px;
    padding-bottom: 20px;
    padding-top: 16px;
  }

  @media (min-width: $viewpoint--desktop) {
    margin: 0;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 16px;
    padding-bottom: 0;
  }
}

.upload__panel {
  @media (min-width: $viewpoint--tablet) {
    width: 50%;
    padding-right: 20px;
    padding-left: 25px;
  }

  @media (min-width: $viewpoint--desktop) {
    width: calc(50% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
}

.upload__mobile-icons {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  padding-top: 40px;

  @media (min-width: $viewpoint--tablet) {
    display: none;
  }
}

.upload__handel-wrapper {
  width: 100%;
  gap: 20px;
  align-items: center;
  padding: 0 26px;
  display: none;

  border-bottom: 1px solid rgba($color-navi, 0.1);

  &--active {
    display: flex;
  }

  @media (min-width: $viewpoint--tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-left: 13px;
    padding-right: 18px;
  }

  @media (min-width: $viewpoint--desktop) {
    padding: 0;
  }

  &--noboard {
    @media (min-width: $viewpoint--desktop) {
      border-bottom: none;
    }
  }
}

.upload__icon-wrapper {
  @media (min-width: $viewpoint--tablet) {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 50px;
    height: 50px;
  }
}

.upload__icon {
  display: none;
  fill: $color-magenta;

  @media (min-width: $viewpoint--tablet) {
    display: block;
    height: 48px;
    width: 44px;
  }


  @media (min-width: $viewpoint--desktop) {
    width: 50px;
    height: 50px;
  }

  &--small {
    height: 16px;
    width: 16px;

    @media (min-width: $viewpoint--desktop) {
      width: 32px;
      height: 32px;
    }
  }
}

.upload__btn-wrapper {
  margin: 0 auto;
  padding-top: 27px;
  width: auto;

  @media (min-width: $viewpoint--tablet) {
    padding-top: 56px;
  }

  @media (min-width: $viewpoint--desktop) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.upload__btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $viewpoint--tablet) {
    margin-bottom: 24px;
  }


  @media (min-width: $viewpoint--desktop) {
    margin: 0;
  }
}

.upload__setting {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;

  @media (min-width: $viewpoint--tablet) {
    flex-direction: column;
    gap: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $viewpoint--desktop) {
    padding-left: 0;
    padding-right: 29px;
  }
}

.upload__scale {
  position: relative;
  border: 1px solid $color-navi;
  width: 90%;
  margin: 0 auto;
  height: 0;
  margin-top: 35px;
  margin-bottom: 35px;

  @media (min-width: $viewpoint--tablet) {
    width: 80%;
    margin: 35px 0 34px 0;
  }

  @media (min-width: $viewpoint--desktop) {
    width: 76%;
  }

  &--tablet {
    display: none;

    @media (min-width: $viewpoint--tablet) {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  &--mobile {
    @media (min-width: $viewpoint--tablet) {
      display: none;
    }
  }
}

.upload__scale-marker {
  background: $color-white;
  border: 2px solid $color-magenta;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  top: -6px;
  left: 80%;
  transform: translateX(-50%);
  cursor: pointer;

  &:active {
    background: $color-magenta;
  }

  &--crop {
    left: 76%;

    @media (min-width: $viewpoint--desktop) {
      left: 26%;
    }
  }

  &--fill {
    left: 16%;

    @media (min-width: $viewpoint--desktop) {
      left: 88%;
    }
  }

  &--contrast {
    left: 52%;

    @media (min-width: $viewpoint--desktop) {
      left: 58%;
    }
  }
}

.upload__link {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 34px;

  svg {
    fill: rgba($color-navi, 0.3);
  }

  &:hover {
    svg {
      fill: rgba($color-navi, 0.5);
    }
  }

  &--active {
    svg {
      fill: $color-magenta;
    }

    &:hover {
      svg {
        fill: $color-magenta;
      }
    }
  }
}
