.upload {
  background-color: $bg-light-grey;
}

.upload__header {
  height: 172px;
  margin: 0;
  padding: 0;

  line-height: 30px;
  text-align: center;
  color: $color-navi;

  background-color: $color-white;
}
