.container {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media (min-width: $viewpoint--desktop) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &--nopadding {
    @media (min-width: $viewpoint--desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
